pre {
    background: #eef3f9;
    padding: 30px;
    border-radius: 5px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 30px;
}

p.sticky-label {
    position: absolute;
    right: 0;
    background: var(--theme-color-2);
    color: var(--white);
    padding: 10px 40px;
    z-index: -1;
    top: 0;
    font-weight: 700;
}

.post.sticky .post-content {
    padding: 0;
}

.post.sticky {
    border: 1px solid #ddd;
    background-color: #dddddd45;
    position: relative !important;
    z-index: 0;
    padding: 30px;
}

ul.replay-comment {
    padding-left: 20px;
}

.breadcrumb-section.default-theme {
    background: linear-gradient(270deg, rgba(160, 255, 194, 1) 0%, rgba(175, 73, 229, 1) 100%);
}

.sticky.header-1.default-theme .header-logo {
    display: block;
}